@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}
nav .btn-resume{
    width: 205px;
height: 40px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
color: rgb(13, 19, 33);
font-family: sans-serif;
font-size: 15px;
font-weight: 600;


text-align: center;

opacity: 0.8;

}
#hero{
    width: 1318px;
    height: 652px;
border:2px dashed;
background-image: url('../assets/Hero-bg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;

}
#hero .hero-container{
    width: 998px;
    height: 581px;
}
#hero .hero-container .image-card{
    text-align: center;
    margin-top: 20px;
}
#hero .hero-container .hero-developer{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-container .despriction{
    color: rgb(13, 19, 33);
font-family: sans-serif;
font-size: 19px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 20px;


}
#hero .hero-container .button{
    text-align: center;
    margin-top: 15px;
    padding: 21px 24px 21px 24px;

}
#hero .hero-container .btn-primary{
    width: 200px;
height: 50px;
border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* main layout desgin */

.why-web{
    width: 1140px;
    height: 1233px;
    margin: 140px auto;
    text-align: center;

}
.text-iten{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.text-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-top: 20px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.learning-contact{
    width: 946px;
height: 336px;
border: 2px solid;
margin: 80px auto;
    text-align: center;
}
.learning-contact .left-text{
    height: 336px; 
    width: 50%;  
    border: 2px solid;
}
.learning-contact .right{
    height: 336px; 
    width: 50%;  
    border: 2px solid green;

}





